.alhor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.alver{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.line{
    border:5px solid orangered;
}
.contenedor1{
    padding: 60px 60px 30px 60px;
    margin: 30px 30px 30px 30px;    
    width:35%;
    align:center;
}
.contenedor2{
    padding: 30px 120px 120px 120px;
    width:35%;
    align:center;
}
.contenedor3{
    padding: 5px 80px 5px 80px;
    
 
    /*width:20%;*/
    align:center;
}
.renglon{
  padding-top: 5px;
  padding-bottom: 15px;
}
label{
  font-size:18px;
}
.boton{
  color:white;
  background-color:red;
  padding: 10px;
}
#salida{
  color:red;
}
#numero{
  color:black;
}
#valorcompra{color:black;}
#valordescuent{color:black;}
#total{
    color:black;
}
.enlace{
  color:black;
}
.enlace:hover{
  color: red;
}
.tipo{
  font-family:monospace;
}
.marco{
  margin: 5px 5px 5px 5px;
  border: 5px solid orangered;
}
.linea{
  border: 5px solid orangered;
}
.linea:hover{
  border: 5px solid aquamarine;
}